#logo {
  background-image: url('../images/header-logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 10vh;
  width: 100%;

  @media screen and (max-height: 420px) {
    margin-top: 1vh;
  }

  @media screen and (max-width: $xs-screen-max) {
    height: calc(100vh - 100px);
  }

  @media screen and (min-width: $sm-screen-min) {
    height: calc(100vh - 120px);
  }
} // #logo
