#sponsors {
  margin-bottom: 100px;

  .section-title { padding-bottom: 0; }

  .sponsor-logo {
    display: block;
    margin: 20px auto;
    max-height: 200px;
    max-width: 200px;
    width: 100%;
  }

  @media screen and (min-width: $sm-screen-min) {
    .faanps {
      max-height: 125px;
      max-width: 125px;
    }
  }

  @media screen and (min-width: $sm-screen-min) and (max-width: 991px) {
    .hood-famous { padding-top: 35px; }
    .big-boys { padding-top: 40px; }
    .give-butter { padding-top: 50px; }
  }

  @media screen and (min-width: 992px) {
    .hood-famous { padding-top: 20px; }
    .big-boys { padding-top: 25px; }
    .give-butter { padding-top: 35px; }
  }
} // #sponsors
