@mixin workshop-colors($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
}

#workshops {
  > h3 {
    font-family: $header-font-family;
    margin-top: -30px;
    text-align: center;
  }

  .workshop {
    border: 3px solid transparent;
    border-radius: 1px;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .4);
    cursor: pointer;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 15px;
    text-overflow: ellipsis;
    transition: background 200ms ease-out;
    white-space: nowrap;

    &:hover,
    &:focus {
      background: #000 !important;
      box-shadow: none;
      color: #fefefe !important;
    }

    > .name {
      font-family: $header-font-family;
      font-size: 2em;
    }

    &.social { @include workshop-colors(#ffd400, #000); }
    &.political { @include workshop-colors(#fff, #000); }
    &.educational { @include workshop-colors(#1249d4, #fff); }
    &.cultural { @include workshop-colors(#d20607, #fff); }
  }
} // #workshops
